@tailwind base;
@tailwind components;
@tailwind utilities;

.fill-selected {
  fill: rgb(35, 93, 255);
}

.fill-unselected {
  fill: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  .fill-unselected {
    fill: #e5e7eb;
  }
}
